<% include partials/header%>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <h3>Transforme seu Lixo Eletrônico em Benefícios</h3>
                </div>
                <div>
                    <p>Com intuito de diminuir o descarte inadequado de aparelhos eletrônicos como: pilhas, baterias, equipamentos de informática, etc em 
                        locais inadequados. A e-DISCARD juntamente com lojas parceiras, estamos proporcionando aos nossos clientes um sistema de troca. A
                         cada descarte realizado em nossa empresa, ou em lojas parceiras, é gerado um quantidade de pontos equivalente a pesagem.
                    </p>
                </div>
                <div><h3>Troca seus pontos em desconto</h3></div>
                <div>
                   <p>A cada 500 gramas = 10 pontos na sua conta, ao chegar em 100 pontos, pode-se gerar um cupom de desconto de 5% na compra de algum 
                       aparelho eletrônico nas lojas parceiras deste projeto. No mês só será possível utilizar 400 pontos (20% de desconto).

                   </p> 
                 <p>
                       Promoção Valida Somente para produtos entre R$:200,00 a R$:500,00 
                   </p>
                </div>
            </div>
        </div> 
</div>           
<% include partials/footer%>