<% include partials/header%>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                    <div class="">
                            <h2 class="transinfo">TRANSFORME SEU LIXO ELETRÔNICO EM BENEFÍCIOS</h2>
                        </div>
                        <hr class="my-4">
                
                <div class="shadow-lg p-3 mb-5 bg-white rounded bkext" >               
           
                <div class="blockquote text-justify">
                    <p class="text-body textfont">Com intuito de diminuir o descarte inadequado de aparelhos eletrônicos como: pilhas, baterias, equipamentos de informática, etc em 
                        locais inadequados. A e-DISCARD juntamente com lojas parceiras, estamos proporcionando aos nossos clientes um sistema de troca, a
                         cada descarte realizado em nossa empresa, ou em lojas parceiras, é gerado um quantidade de pontos equivalente a pesagem.
                    </p>
                </div>
            </div>

            <div><h2 class="transinfo">TROQUE SEUS PONTOS EM DESCONTOS</h2></div>
                <hr class="my-4">

            <section class="shadow-lg p-3 mb-5 bg-white rounded bkext">
                <div class="blockquote text-justify">
                   <p class="text-body textfont">A cada 500 gramas = 10 pontos na sua conta, ao chegar em 100 pontos, pode-se gerar um cupom de desconto de 5% na compra de algum 
                       aparelho eletrônico nas lojas parceiras deste projeto. No mês só será possível utilizar 400 pontos (20% de desconto).

                   </p> 
                 <p class="text-danger textfont" style="font-size: 1.1rem; font-weight: 600;">Promoção válida somente para produtos entre R$:200,00 a R$:500,00.</p>
                </div>
            </section>

            </div>
        </div> 
</div>           
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
<!-- Footer -->
<footer class="page-footer font-small blue" style="margin-top: 10%">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 footback">© 2019 Copyright: e-DICARD</div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</html>