<form action="/login" method="post">
    <input type="text" name="username" placeholder="login">
    <input type="password" name="password" placeholder="login">
    <button>Log in</button>    
</form>