<%include partials/header%>
    <div class="container">
        <div class="row ">
            <div class="col-sm">
             <div class="well profile">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <% if(currentuser){ %>
                        <% currentuser.pessoas.forEach(pessoa => {%>
                        <h2><%=pessoa.pesnome%></h2>
                        <p><strong>About: </strong><%=pessoa.pesemail%></p>
                        <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                        <%{%>   
                        <%{%>                  
                    </div>             
                </div>            
             </div>                 
            </div>
        </div>
    </div>

<%include partials/footer%> 