<% include partials/header  %>
<div class="container">
    <div class="row">
            <div class="col-sm cardpres">
                    <h1 class="h1 translg extra cardres2 resptext">Transformando Seu Lixo Eletrônico em Descontos!</h1>
                </div>
        <div class="col-sm">
                
            <div class="card shadow-lg p-3 mb-5 bg-white rounded resp">
                <div class="card-body">
                    <form action="/register" method="post">
                        <div class="d-flex justify-content-center">
                            <img class="card-img-top cardres cardtop" src="imagens/ediscard.svg">
                            
                        </div>
                        <p class="text-center trans">Cadastre-se para ganhar pontos!</p>
                        
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" placeholder="Nome Completo" aria-label="Username" 
                            name="pessoa[pesnome]" aria-describedby="addon-wrapping">
                        </div>

                        <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="CPF" aria-label="Cpf" 
                                name="pessoa[pescpf]" aria-describedby="addon-wrapping">
                            </div>
                       
                        
                        <div class="input-group flex-nowrap">
                                <input type="email" class="form-control" placeholder="Email" aria-label="email" 
                                name="username" aria-describedby="addon-wrapping">
                            </div>

                        <div class="input-group flex-nowrap">
                                <input type="password" class="form-control" placeholder="Senha" aria-label="senha" 
                                name="password" aria-describedby="addon-wrapping">
                            </div>

                        

                        <div class="input-group flex-nowrap">
                                <input type="text" class="form-control" placeholder="Telefone" aria-label="Telefone" 
                                name="pessoa[pestelefone]" aria-describedby="addon-wrapping">
                            </div>

                            <div class="form-group">
                                <% if(errorArr && errorArr.length > 0){ %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Usuário já existe!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                                <% } %>
                        <div class="form-group">
                            <button type="submit" value="Submit" class="botao btn btn-block">CADASTRAR</button>
                        </div>
                        
                    </form>
                </div>
                <div class="card-body">
                        <p class="card-text">Já tem uma conta? <a href="/login">Faça seu login!</a></p>
                        </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
                        
    
    
<% include partials/footer  %>