<%include partials/header%>
<div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <h1 class="transinfo">QUEM SOMOS?</h1>
                </div>
                <hr class="my-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded blockquote text-justify">
                    <p class="text-body textfont">&nbsp;&nbsp;&nbsp;A e-DISCARD é um empresa que realiza atividades de recolhimento de lixo eletrônico na cidade de manaus. Nosso intuito é transformar 
                        esses resíduos em benefícios para os clientes que descartam seu lixo eletrônico corretamente.
                    </p>
                    <p class="text-body textfont">
                           &nbsp;&nbsp;&nbsp;A empresa realiza semanalmente a coleta de lixos eletrônicos de algumas lojas de eletrônicos, tornando-as futuras
                            lojas parceiras. Com esse serviço, a empresa cobra o equivalente ao quanto de lixo é retirado.
                    </p>
                </div>
            </div>
        </div>
    </div>            
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
<!-- Footer -->
<footer class="page-footer font-small blue" style="margin-top: 19%">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 footback">© 2019 Copyright: e-DICARD</div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</html>