<%include partials/header%>
<div class="container">
        <div class="row">
            <div class="col-sm">
                <div>
                    <h1 class="transinfo">Quem Somos?</h1>
                </div>
                <hr class="my-4">
                <div class="shadow-lg p-3 mb-5 bg-white rounded blockquote text-justify">
                    <p class="text-body textfont">A e-DISCARD é um empresa que realiza atividades de recolhimento de lixo eletrônico na cidade de manaus, nosso intuito é transformar 
                        esses resíduos em benefícios para os clientes que descartam seu lixo eletrônico corretamente.
                    </p>
                    <p class="text-body textfont">
                            A empresa realiza semanalmente a coleta de lixos eletrônicos de algumas lojas de eletrônicos, tornando-as futuras
                            lojas parceiras. Com esse serviço, a empresa cobrar o equivalente ao quanto de lixo é retirado.
                    </p>
                </div>
            </div>
        </div>
    </div>            
<%include partials/footer%>