<% include partials/header  %>

<% usuarios.forEach(usuario => {%>
    <p><%= usuario.usulogin%></p>
    <p><%= usuario.ususenha%></p>
    <p><%= usuario.usupontos%></p>
<%}); %>



<% include partials/header  %>