<% include ../partials/header%>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Lista de comprovantes gerados</h3>
            <ul class="list-group list-group-flush">
            <% usuario.comprovantes.reverse().forEach((i,idx,comp) => {%>
            <li class="list-group-item"><a href="/download/<%= i.comURL%>">Download  </a>Gerado em: <strong><%= moment(i.dataCriado).format('LLL');  %></strong></li>
           <%}); %>
            </ul>
</div>
</div>

</div>


<% include ../partials/footer%>
