<%include ../partials/header%>
    <div class="container">
        <div class="row ">
            <div class="col-sm">
                <% currentuser.pessoas.forEach(pessoa => {%> 
                    <!-- Modal -->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <center>
                                <img src="/imagens/user.svg" style="height: 200px"></a>
                                <h3 class="media-heading"><%=pessoa.pesnome%></h3>
                                </center>
                                <br>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Email: <%=currentuser.username%></li>
                                        <li class="list-group-item">Pontos: <%=currentuser.usupontos%></li>
                                      </ul>
                            </div>
                            <div class="modal-footer">
                                <center>
                                        <a href="/gerardesconto/<%=currentuser._id%>" class="btn btn-primary">Gerar Desconto</a>
                                </center>
                            </div>
                        </div>
                </div>
                <%});%>    

        </div>
       </div>
    </div>

<%include ../partials/footer%> 