 body {
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
} 

.botao{
    margin-top: 10px;
    background: -webkit-linear-gradient( -75deg, #5c8635 7%, rgba(58,73,89,1) 93%);
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.botao_hover{
    margin-top: 10px;
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
}

.botao_hover:hover{
    background: -webkit-linear-gradient( -75deg, #5c8635 5%, rgba(58,73,89,1) 95%);
    color: #fff;
    border: 1px solid transparent;
}

.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    padding-left: 0;
}

.fa.fa-navicon {
    color:white;
  }

  .trans{
    font-size: 1.7rem; 
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif; 
    background: -webkit-linear-gradient( -75deg, #5c8635 5%, rgba(58,73,89,1) 95%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .greentext{
    background: -webkit-linear-gradient( -75deg, #5c8635 5%, rgba(58,73,89,1) 95%);
  }
  .card{
      width: 20rem;
      float: right; 
  }
  .col-sm{
      padding-right: 20px;
      padding-top: 70px;
  }
  
  
  .text-home{
      text-align: justify;  
  }
  

