<%  include ../partials/header%>
 <div class="container">
    <div class="row">
        <div class="col-sm">
<form action="/produtos" method="post">
    <div class="form-control">
        <label>Nome:</label>
        <input type="text" name="produto[nome]" value="">
    </div>
    <div class="form-control">
        <label>Imagem:</label>
        <input type="text" name="produto[imagemURL]">
    </div>
    <div class="form-control">
        <label>Peso:</label>
        <input type="text" name="produto[peso]">
    </div>
    <div class="form-control">
       <input type="submit" value="Submit">
    </div>
    </form>
    </div>
    </div>
    </div>

    
    
<%  include ../partials/footer%>