<% include ../partials/header%>
    
    <form method="GET" action="/balanca">
        <label>Endereço de email:</label>
        <input type="text" name="login">
        <button >Buscar</button>    
    </form>

<% include ../partials/footer%>

    