<%  include partials/header%>
<form action="/produtos" method="post">
    <div>
        <label>Nome:</label>
        <input type="text" name="produto[nome]" value="">
    </div>
    <div>
        <label>Imagem:</label>
        <input type="text" name="produto[imagemURL]">
    </div>
    <div>
        <label>Peso:</label>
        <input type="text" name="produto[peso]">
    </div>
    <div>
        <label>Pontos:</label>
        <input type="text" name="produto[pontos]">
    </div>
    <div>
       <input type="submit" value="Submit">
    </div>

</form>
    
    
<%  include partials/footer%>