<% include ../partials/header%>
    <div class="container">
        <% produtos.forEach(produto => {%>
        <ul class="list-group" style="width: 20%">
            <li  class="list-group-item">Nome: <%= produto.nome%></li>
            <li  class="list-group-item" ><img class="img-thumbnail" src="<%= produto.imagemURL%>"></li>
            <li  class="list-group-item">Peso: <%= produto.peso%>KG</li>
            <a href="/produtos/<%= produto._id%>">Mais informações</a>
            <a href="/produtos/new">Cadastrar</a>  
        </ul>
        <%}); %>
    </div>
    
<% include ../partials/footer%>